h1 {
    font: 50px 'Charmonman', cursive;
    font-style: italic;
}

img {
    width: 30%;
    height: auto;
    margin: 1%;
}

img:hover {
    margin: 0%;
    width: 33%;
    transition-duration: 0.7s;
    transition-delay: 0.5s;
    transition-timing-function: ease;
}

body {
    background-color: azure;
}

#pic1 {
    filter: blur(2px);
}

#pic2 {
    filter: drop-shadow(16px 16px 20px);
}

#pic3 {
    filter: grayscale(80%);
}